In [1]:
import pandas as pd

In [8]:
# replace `file_path` with the path to your actual .parquet file
file_path = "../saved_data/spec_init_emb.parquet"

In [11]:
# read the .parquet file into a pandas DataFrame
df = pd.read_parquet(file_path)

,patientunitstayid,embedding,svc_id,spec_id
0,143870,"[0.020377378333333338, 0.0647402, -0.127391193...","[101, 28, 119]",0
1,149713,"[0.21303927533333333, -0.01724512333333333, 0....","[114, 3, 0]",0
2,156308,"[0.09861777571428569, -0.02560566887142857, -0...","[135, 3, 0, 32, 8, 30, 7]",0
3,163137,"[0.05057413007692308, 0.003523322184615384, 0....","[48, 0, 129, 83, 124, 26]",0
4,172015,"[0.009126646629999999, 0.02082873083, -0.01306...","[81, 0, 162, 83, 26, 129]",0
...,...,...,...,...
1690,3163372,"[0.08322161121428572, -0.05810954462857142, -0...","[3, 0, 23, 9, 49, 10, 11, 50, 56, 96, 91, 29, ...",31
1691,2786505,"[0.04304613582621954, -0.013618286141341458, -...","[81, 0, 82, 11, 112, 16, 4, 1, 68, 137, 2, 78,...",32
1692,2786506,"[0.05606763664285715, -0.05194559516999999, -0...","[81, 0, 82, 11, 43, 16, 4, 1]",32
1693,3116577,"[0.06520018462592583, -0.061562178798148126, -...","[37, 28, 99, 111, 59, 57, 92, 34, 60, 136, 138...",32
1694,3078650,"[0.08891953304859151, -0.05930413611619717, -0...","[37, 28, 111, 51, 72, 23, 141, 60, 138, 10, 55...",33

In [12]:
df.to_csv('pq.csv', index=False)